@using Radzen
@using Radzen.Blazor
@using System.Reflection
@inject NavigationManager NavigationManager

<RadzenStack AlignItems="Radzen.AlignItems.Center" class="rz-py-4" Style="padding: var(--rz-panel-menu-item-padding); border-bottom: var(--rz-panel-menu-item-border);">
    <!--<RadzenImage Path="/5.jfif" style="width: 48px; height: 48px;" AlternateText="Logo" />-->
    <RadzenImage Path="/5.jfif"
                 AlternateText="Photo de profil"
                 Click="GoHome"
                 Style="
                    width: 64px;
                    height: 64px;
                    border-radius: 50%;
                    object-fit: cover;
                    border: 2px solid var(--rz-primary);
                    box-shadow: 0 2px 6px rgba(0,0,0,.15);
                 " />
    <RadzenText Text="DIOP Serigne Rawane"
                TextStyle="TextStyle.Subtitle1"
                Class="rz-mb-0"
                Style="
                    color: var(--rz-sidebar-color);
                    font-weight: 600;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                " />
</RadzenStack>

<RadzenPanelMenu>
    <RadzenPanelMenuItem Text="À propos" Path="apropos" Icon="person" Click="CloseMenuOnMobile" />
    <RadzenPanelMenuItem Text="Parcours" Icon="school">
        <RadzenPanelMenuItem Text="Formations" Path="formations" Icon="menu_book" Click="CloseMenuOnMobile" />
        <RadzenPanelMenuItem Text="Compétences" Path="competences" Icon="engineering" Click="CloseMenuOnMobile" />
    </RadzenPanelMenuItem>
    <RadzenPanelMenuItem Text="Expériences" Path="experiences" Icon="work" Click="CloseMenuOnMobile" />
    <RadzenPanelMenuItem Text="Projets" Path="projets" Icon="code" Click="CloseMenuOnMobile" />
    <RadzenPanelMenuItem Text="Profil GitHub" Path="github" Icon="explore" Click="CloseMenuOnMobile" />
    <!--<RadzenPanelMenuItem Text="Profil GitHub" Path="github" Click="CloseMenuOnMobile">
        <Template>
            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0.5rem" class="rz-px-3 rz-py-2 rz-text-base rz-panel-menu-item-text">
                <img src="/images/github.svg" style="width: 24px; height: 24px; filter: grayscale(1) opacity(0.7); " />
                <span>Profil GitHub</span>
            </RadzenStack>
        </Template>
    </RadzenPanelMenuItem>-->
    <RadzenPanelMenuItem Text="Contact" Path="contact" Icon="email" Click="CloseMenuOnMobile" />
</RadzenPanelMenu>

<RadzenStack AlignItems="Radzen.AlignItems.Center" class="rz-py-4">
    <RadzenText Text="srdiop 2.0.0" TextStyle="TextStyle.Caption" TagName="TagName.P" TextAlign="TextAlign.Center" />
    <RadzenText Text=@($"Copyright Ⓒ {DateTime.Now.Year}") TextStyle="TextStyle.Caption" class="rz-mb-0" TagName="TagName.P" TextAlign="TextAlign.Center" />
</RadzenStack>

@code {
    [Parameter]
    public bool Expanded { get; set; } = true;

    [Parameter]
    public EventCallback<bool> ExpandedChanged { get; set; }

    [Inject] IJSRuntime? JSRuntime { get; set; }

    private string copyrightText = $"Copyright Ⓒ {DateTime.Now.Year}";

    private void GoHome()
    {
        NavigationManager.NavigateTo("/");
        CloseMenuOnMobile();
    }

    async Task CloseMenuOnMobile()
    {
        // Vérifiez la largeur de la fenêtre pour confirmer si c'est une version mobile
        var windowWidth = await JSRuntime!.InvokeAsync<int>("getWindowWidth");
        if (windowWidth < 768) // 768px est une largeur commune pour les mobiles
        {
            await ExpandedChanged.InvokeAsync(false);
        }
    }
}