@page "/apropos"
@using Radzen
@using Radzen.Blazor

<PageTitle>A Propos</PageTitle>

<RadzenCard Style="max-width: 900px; margin: auto; padding: 2rem;">
    <RadzenRow>
        <RadzenColumn Size="12" Style="text-align: center;">
            <RadzenAvatar Style="width: 100px; height: 100px;" Path="6.png" />
            <RadzenStack AlignItems="AlignItems.Center" class="rz-mx-auto rz-my-12">

                <RadzenImage Path="/3.jfif" Style="width: 15rem;" AlternateText="community" />

            </RadzenStack>
            <h2 class="rz-my-2">DIOP Serigne Rawane</h2>
            <RadzenText Text="Concepteur Développeur Fullstack, Data Analyst & IA" TextStyle="TextStyle.Subtitle1" />
        </RadzenColumn>
    </RadzenRow>

    <RadzenDivider />

    <RadzenRow class="rz-mt-4">
        <RadzenColumn Size="12">
            <RadzenText TextStyle="TextStyle.Body1">
                Passionné par le développement logiciel, l'intelligence artificielle et la data, je suis actuellement en alternance à l'Urssaf Caisse Nationale en tant que concepteur développeur C# et analyste de données.
                <br /><br />
                Mon parcours académique en MIAGE (Méthodes Informatiques Appliquées à la Gestion des Entreprises), spécialisé en Intelligence Artificielle Appliquée, m’a permis de développer une double compétence technique et métier.
            </RadzenText>
        </RadzenColumn>
    </RadzenRow>

    <RadzenRow class="rz-mt-4 rz-gap-2">
        <RadzenColumn Size="6">
            <RadzenCard Style="height: 100%;">
                <RadzenIcon Icon="school" Style="font-size: 24px; color: #1976d2;" />
                <RadzenText Text="Formation" TextStyle="TextStyle.H6" />
                <p>Master MIAGE IA2 - Université Côte d’Azur</p>
            </RadzenCard>
        </RadzenColumn>
        <RadzenColumn Size="6">
            <RadzenCard Style="height: 100%;">
                <RadzenIcon Icon="work" Style="font-size: 24px; color: #1976d2;" />
                <RadzenText Text="Expérience" TextStyle="TextStyle.H6" />
                <p>Développeur .NET & Statisticien - Acoss</p>
            </RadzenCard>
        </RadzenColumn>
    </RadzenRow>

    <RadzenRow class="rz-mt-4">
        <RadzenColumn Size="12">
            <RadzenAlert Severity="Info">
                Ce site a été conçu avec Blazor et les composants Radzen pour illustrer mes compétences en développement web moderne.
            </RadzenAlert>
        </RadzenColumn>
    </RadzenRow>
</RadzenCard>
