@page "/"

<div style="height: 100vh; overflow-y: auto;">
    <RadzenTabs TabPosition="TabPosition.Top" class="rz-mb-4" Change="@OnTabChange">
        <Tabs>
            <RadzenTabsItem Text="A propos">
                <ChildContent>
                    <About />
                </ChildContent>
            </RadzenTabsItem>
            <RadzenTabsItem Text="Formations">
                <ChildContent>
                    <Formation />
                </ChildContent>
            </RadzenTabsItem>
            <RadzenTabsItem Text="Compétences">
                <ChildContent>
                    <Competences />
                </ChildContent>
            </RadzenTabsItem>
            <RadzenTabsItem Text="Expériences">
                <ChildContent>
                    <Experiences />
                </ChildContent>
            </RadzenTabsItem>
            <RadzenTabsItem Text="Projets">
                <ChildContent>
                    <Projets />
                </ChildContent>
            </RadzenTabsItem>
            <RadzenTabsItem Text="Git">
                <ChildContent>
                    <Git />
                </ChildContent>
            </RadzenTabsItem>
            <RadzenTabsItem Text="Contact">
                <ChildContent>
                    <Contact />
                </ChildContent>
            </RadzenTabsItem>
        </Tabs>
    </RadzenTabs>
</div>

@code {
    private void OnTabChange(int index)
    {
        // Optionnel : Gérer les événements de changement d'onglet
        Console.WriteLine($"Changement d'onglet, nouvel index : {index}");
    }
}